
body {
    height: 100%;
    margin: 0;
    background:url(assets/mocha-bg.png);
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 

.header_title {
    color: #cdd6f4;
    font-size: 30px;
    text-align: center  ;
    font-family: 'IBM Plex Serif', serif;
}

hr {
    color: #f5e0dc;
    width: 35%;
    margin-bottom: 0.25%;
}

article {
    color: #bac2de;
    flex: 1;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Overpass Mono', monospace;
}

.copyright{
    color: #a6adc8;
    font-size: 15px;
}


footer{
    min-height: 10%;
    display: inline-block;
    text-align: center;
}